article {
  font-family: Georgia, serif;
}

header {
  text-align: center;
  padding: 0 4rem;
  margin: 2rem 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1, h2, h3 {
  padding: 0 2rem;
}

h1 {
  font-size: 2.2rem;
  margin: 1.5rem 0;
  padding: 0;
  letter-spacing: -1px;
  line-height: 1.1;
}

section > h2 {
 font-weight: 400;
 /*background: #444;*/
 background: rgb(172, 67, 67);
 color: #DDD8C5;
 font-size: 1.8rem;
 margin-top: 2rem;
 margin-bottom: 2rem;
 line-height: 2;
 text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -1px;
}

h4 {
  font-size: 1.4rem;
  padding: 0 2rem;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-hyphens: auto;
  hyphens: auto;
}

li {
  line-height: 1.3;
}

article li {
  margin-bottom: 1rem;
}

figure, .table-wrap {
  padding: 2rem 3rem 1rem;
  margin: 2rem auto;
  text-align: left;
  overflow-y: auto;
  background: white;
  box-sizing: border-box;
}

section section > figure,
section section .table-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

figure .image-container {
  text-align: center;
  /*margin-right: 2rem;*/
}

figure .graphic {
  margin: 0 2rem 1rem 0;
  max-height: 840px;
  cursor: pointer;
  max-width: 100%;
}

figcaption .heading,
.table-wrap .heading {
  margin: 0 0 1rem;
  padding: 0 !important;
  font-size: 1.4rem;
  font-family: "Gill Sans";
  font-weight: normal;
  letter-spacing: 0;
}

figcaption p,
.caption p {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0.5rem;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.3;
  font-size: 1.2rem;
}

.table-wrap .alternatives .graphic {
  display: none;
}

header .context {
  font-size: 1.2rem;
}

header .authors {
  font-size: 1.5rem;
  margin: 1rem auto;
  line-height: 1.1;
}

section > p,
section > div,
footer > p,
footer > div {
  margin: 0 4rem 1.5rem;
}

/*
section > p,
footer > p {
  max-width: 750px;
}
*/

footer > div h2 {
  margin-left: -3rem;
  margin-right: -3rem;
}

a {
  /* color: #15C; */
  color: rgb(136, 115, 70);
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

main > section > section,
.pseudo-main > section {
  margin: 2rem;
  border: 1px solid transparent; /* enforce margins within */
  background: #F1F0E8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 3px;
  z-index: 10;
  position: relative;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

main > section > section h3,
.pseudo-main > section h3 {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}

main > section > section p,
.pseudo-main > section p {
  margin-left: 2rem;
  margin-right: 2rem;
}

figure {
  display: flex !important;
  flex-flow: row wrap;
}

figure .image-container,
figure figcaption {
  flex: 1;
  padding: 0 10px;
}

figure figcaption {
  min-width: 25em;
}

figure > p {
  margin: 0 !important;
  padding: 0 !important;
}

figure > p[content-type="supplemental-figure"] {
  margin: 1rem 0;
  background-color: #DDD8C5;
  padding: 1rem 0;
}

section p > figure, section p > .table-wrap {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

p > .row {
  width: auto;
}

.body > section > section figure:last-child,
.body > section > section .table-wrap:last-child {
  margin-bottom: 0;
}

.body > section > section p:last-child {
  margin-bottom: 1.5rem;
}

.object-id {
  display: none;
}

.disp-formula {
  text-align: center;
  margin: 1em;
}

.disp-formula .label {
  font-weight: bold;
  float: right;
}

.inline-formula img {
  margin: 0 0.25em;
  vertical-align: text-bottom;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.sc {
  font-variant: small-caps;
}

.strike {
  text-decoration: line-through;
}

.sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: 0;
}

.sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

.underline {
  text-decoration: underline;
}

.name {
  white-space: nowrap;
}

.xref {
  white-space: nowrap;
}

.label {
  color: inherit;
  padding: 0;
  font-size: inherit;
  background: none;
  text-shadow: none;
}

.badge {
  font-size: inherit;
  line-height: normal;
  cursor: pointer;
}

[content-type="supplemental-figure"] {
  clear: both;
}

[position=float] {
  clear: both;
  overflow: auto;
}

/*
[position=float] img {
  float: left;
}
*/

.boxed-text {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}


.fig-group {
  margin: 0 -2rem;
}

.fn-group {
  margin: 0 ;
}

.fn-group > div {
  margin: 0 3rem;
}

table {
  border: 1px solid #AAA;
  margin: 1rem 0;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
}

.table-wrap-foot {
  font-family: "Gill Sans", sans-serif;
  line-height: 1.2;
}

thead {
  background: whiteSmoke;
  border-bottom: 1px solid #AAA;
}

th, td {
  padding: 2px 5px;
  font-size: 90%;
}

col {
  border: 1px solid #AAA;
}

thead, th {
  font-weight: bold;
}

td {
  text-align: right;
  border: 1px solid #CCC;
}

/* attr() is not supported for CSS values other than content */

table *[align=left],
table *[align=left] td {
  text-align: left;
}

table *[align=center],
table *[align=center] td {
  text-align: center;
}

table a.xref {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

.table-wrap-foot .fn .label {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
  display: run-in;
  padding-right: 0.5em;
}

ul, ol {
  margin:  0 0 1rem 4rem;
}

section ul,
section ol {
  padding-left: 4rem;
}

li p {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.body > p {
  padding: 0 1rem;
}

/*
.table-wrap-foot {
  display: table;
}

.table-wrap-foot .fn {
  display: table-row;
}

.table-wrap-foot .fn > * {
  display: table-cell;
}
*/

.table-wrap-foot .fn p {
  padding-left: 0.5em !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

/*
tr:nth-of-type(even) td {
  background: #EEE;
}
*/

a.xref[ref-type="table-fn"] {
  vertical-align: super;
  font-size: smaller;
}

section.collapsed > * {
  display: none;
}

section.collapsed > h2 {
  display: block;
}

section .show {
  display: none;
  cursor: pointer;
}

section .show:hover {
  color: white;
}

section.collapsed .show {
  display: block;
}

nav {
  max-width: 60rem;
  margin: 0 auto 2rem;
  border: 1px solid #ddd;
  background: white;
  padding: 1rem 2rem 0;
}

header .provider {
  white-space: nowrap;
}

dl {
  margin: 0 1rem;
}

dt {
  display: run-in;
  font-weight: bold;
}

dt:after {
  content: " ";
}

.supplementary-material {
  padding: 2rem;
  background: white;
}

main > section:first-of-type > p:first-of-type:first-letter {
  float: left;
  font-size: 350%;
  margin-top: 20px;
  margin-right: 4px;
  color: #992E00;
}

section > p,
section > ul,
section > ol {
  font-size: 1.2rem;
  line-height: 1.6em;
}

main > section > * {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

section > p:not(:first-of-type) {
  text-indent: 2em;
}

main > section > p {
  padding: 0 2rem;
}

main > section > h2 > span {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
#background p:not(:last-of-type),
#introduction p:not(:last-of-type),
#discussion p:not(:last-of-type),
#conclusions p:not(:last-of-type) {
  margin-bottom: 0;
}
*/
