#index {
	display: none;
	padding: 1rem 2rem;
}

#index .input-group {
	width: 400px;
	margin-bottom: 5px;
}

#index .help-block {
	font-size: 80%;
	margin-left: 1rem;
}

#index ul {
	list-style-type: none;
	margin: 1rem 0;
}

#index li {
	line-height: 1.5;
}