#index {
	display: none;
	padding: 1rem 2rem;
}

#index .input-group {
	width: 400px;
	margin-bottom: 5px;
}

#index .help-block {
	font-size: 80%;
	margin-left: 1rem;
}

#index ul {
	list-style-type: none;
	margin: 1rem 0;
}

#index li {
	line-height: 1.4;
	box-shadow: 0 1px 2px #aaa;
	margin: 10px 0;
	background: #fff;
}

#index li a {
	display: block;
	padding: 10px;
}

#index li a {
	text-decoration: none;
	background-color: #f6f6f6;
}
