.ref-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ref {
  margin-bottom: 10px;
}

.ref .year {
  display: run-in;
  font-weight: bold;
}

.ref .year:after {
  content: " ";
}

.ref .article-title {
  display: block;
  font-weight: bold;
}

.ref .source {
  display: block;
  font-style: italic;
}

.ref .label {
  display: none;
}

.ref .source  {
}

.ref .pub-id {
  display: none;
}

.ref .person-group {
  color: #555;
}

.ref .person-group .etal:after {
  content: "";
}

.popover li {
  list-style-type: none;
}

.popover h3 {
  letter-spacing: 0;
}