.ref-list {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ref {
  display: table-row;
  margin-bottom: 10px;
}

.ref > * {
  display: table-cell;
  padding: 0 0.5rem 0.5rem;
}

.ref .ref-publication {
  white-space: nowrap;
  max-width: 20em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.ref .label {
  text-align: right;
}

.ref .source  {
  font-style: italic;
}

.ref .pub-id {
  display: none;
}

.ref .person-group {
  color: #555;
}

.ref .person-group .etal:after {
  content: "";
}